@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");

body {
  font-family: "Caveat", sans-serif;
  margin: 0;
  width: 100%;
}
/* .main__header {
  position: sticky;
  top: 0;
  z-index: 9999;
} */
.top__nav {
  display: flex;
  justify-content: center;
  padding: 5px;
  height: 40px;
  background-color: #2d1f0b;
}
.link__nav {
  display: flex;
  width: 90%;
  /* justify-content: space-between; */
  justify-content: center;
  gap: 50px;
}
/*
padre
*/
.padre {
  color: #827153;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 0.5fr 1px 1fr;
}
.logo {
  font-size: 20px;
  font-family: "Caveat", sans-serif;
  gap: 10px;
  align-items: center;
  display: flex;
}
.search {
  justify-content: flex-end;
  display: flex;
  align-items: center;
}
.divider__horizontal {
  border: 1px solid #827153;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.links__container {
  margin-top: 1px;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
  align-items: center;
  display: flex;
  justify-content: center;
}
.links__list {
  padding-left: 0;
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
li {
  list-style: none;
  font-size: 20px;
}
a {
  color: #827153;
  text-decoration: none;
}
.hero {
  width: 100%;
  background-image: url(/assets/images/Fondo-Decohogar.jpg);
  height: calc(100vh - 7.9rem);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.hero::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 4%, 0.4);
  position: absolute;
}
.flechita {
  cursor: pointer;
  top: 85%;
  width: 100%;
  position: absolute;
  text-align: center;
}

h1 {
  color: white;
  font-size: 80px;
  font-family: "Caveat";
  margin: 0;
}
.main__hero {
  top: 12%;
  width: 100%;
  position: absolute;
  text-align: center;
}
@media screen and (max-width: 390px) {
  .links_list {
    justify-content: center; /* Mantiene el centrado */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
    text-align: center; /* Centra el texto dentro de cada li */
  }

  li {
    width: auto; /* Permite que los li tomen el ancho de su contenido */
    text-align: center; /* Centra el texto */
  }
}
@media (min-width: 56rem) {
  .hero {
    height: calc(100vh - 1rem);
  }
  .links__list {
    font-size: 20px;
  }

  .divider__horizontal {
    display: none;
  }
  .padre {
    max-width: 90%;
    grid-template-columns: 1.2fr 2.3fr 1fr;
    grid-template-rows: 1fr;
  }
  .search {
    grid-column-start: 3;
    grid-column-end: 4;
  }
  h1 {
    font-size: 100px;
  }
  .links__container {
    margin-left: -40px;

    margin-top: 0;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .flechita {
    top: 90%;
  }
}
@media (max-width: 55rem) {
  .padre {
    width: 90%;
  }
}
/*Card section*/
.card__section {
  /* border: 1px solid black; */
  background-color: #f7f4ee;
  padding: 14px;
  height: auto;
  display: flex;
  gap: 90px;
  flex-direction: column;
}
.container__card {
  width: 90%;
  margin: 20px auto;

  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.card__text p {
  text-align: justify;
  font-family: "Comic Neue", serif;
  margin-bottom: 0;
  font-size: 25px;
}
.card__text h2 {
  color: #e6b8af;
  font-size: 80px;
  margin-bottom: 0;
  margin-top: 10px;
}
img {
  object-fit: contain;
}
.card__text {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 300px;
}
.fotomural {
  margin-top: -200px;
}
.hogar {
  margin-top: -100px;
}
.card__img {
  gap: 30px;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 500px;
}
button {
  border: none;
  background-color: transparent;
}
.button {
  text-align: center;
  padding: 15px;
  width: 30%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
}
.button:hover {
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}
.divider__horizontal__main {
  border: 1px solid #827153;
  width: 100%;
}

.hero__ninas {
  width: 100%;
  background-image: url(/assets/images/Fondo-Decohogar.jpg);
  height: calc(70vh - 10rem);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.hero__ninas::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 4%, 0.4);
  position: absolute;
}
.h2__ninas {
  color: white;
  font-size: 50px;
  font-family: "Caveat";
  margin: 0;
}
.main__hero-ninas {
  top: 32%;
  width: 100%;
  position: absolute;
  text-align: center;
}
